<template>
  <div v-if="loggedIn" class="container section">
    <div class="hero is-medium">
      <div class="hero-body">
        <div class="container home-hero">
          <figure class="image is-128x128">
            <img class="is-rounded avatar" :src="user.avatarUrl">
          </figure>
          <h1 class="title">
            Hello {{ user.displayName }}.
          </h1>
        </div>
      </div>
    </div>
    <hr/>
    <div>
      <section class="section" v-if="showProjects">
        <h1 class="title">
            Your projects
            <router-link :to="{ path: '/projects/new' }" title="Create a new project" v-if="loggedIn">+</router-link>
        </h1>

        <div class="columns is-multiline">
          <project v-for="project in projects.ownerOf" :project="project"/>
        </div>
      </section>

      <section class="section" v-if="showTested">
        <h1 class="title">Tested projects</h1>
        <div class="columns is-multiline">
          <project v-for="project in projects.contributedTo" :project="project"/>
        </div>
      </section>

      <section class="section" v-if="showPlaceholder">
        <div class="has-text-light-gray has-text-centered">
          <p class="has-text-bold padded">Welcome on UserTest!</p>
          <router-link class="button is-primary" :to="{ path: '/explore' }">Discover projects to test</router-link>
          <router-link class="button" :to="{ path: '/projects/new' }">Start your own</router-link>
        </div>
      </section>
    </div>
  </div>
  <presentation v-else></presentation>
</template>

<style>
.card {
  cursor: pointer;
}

.padded {
  margin: 12px;
}
</style>

<script>
import Presentation from './Presentation.vue'
import ProjectCard from './ProjectCard.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    presentation: Presentation,
    project: ProjectCard
  },
  computed: {
    ...mapGetters([ 'loggedIn', 'user' ]),
  },
  asyncData: {
    projects: function() {
      return this.axios.get(`/api/v1/users/${this.user.ID}/projects`)
    },
  },
  asyncComputed: {
    showProjects: {
      get: function() {
        return !this.projects$loading && this.projects.ownerOf.length > 0
      },
      watch: function() {
        this.projects$loading
      },
      debounce: 50,
    },
    showTested: {
      get: function() {
        return !this.projects$loading && this.projects.contributedTo.length > 0
      },
      watch: function() {
        this.projects$loading
      },
      debounce: 50,
    },
    showPlaceholder: {
      get: function() {
        return !this.showProjects
      },
      watch: function() {
        this.showProjects
      },
      debounce: 50,
    }
  }
}
</script>
