<template>
  <div>
    <header class="hero">
      <main class="hero-body">
        <h1 class="title">New project</h1>
      </main>
    </header>
    <div class="section">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input v-model="name" class="input" type="text" placeholder="">
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea v-model="description" class="textarea" placeholder="Markdown is supported"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth" v-on:click="submit">Create</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      name: '',
      description: '',
    }
  },
  methods: {
    submit: async function() {
      const res = await this.axios.post('/api/v1/projects', {
        name: this.name,
        description: this.description,
      })
      this.$router.push({ path: `/projects/${res.data.ID}` })
    }
  }
}
</script>
