<template>
  <div>
    <header class="hero">
      <main class="hero-body">
        <h1 class="title">New task</h1>
      </main>
    </header>
    <div class="section">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input v-model="name" class="input" type="text" placeholder="">
        </div>
      </div>

      <div class="field">
        <label class="label">Time estimation, in minutes</label>
        <div class="control">
          <input v-model="time" class="input" type="number" placeholder="">
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea v-model="description" class="textarea" placeholder="Markdown is supported"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth" v-on:click="submit">Create</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      name: '',
      description: '',
      time: 15,
    }
  },
  methods: {
    submit: async function() {
      const res = await this.axios.post('/api/v1/tasks', {
        title: this.name,
        description: this.description,
        projectID: +this.$route.params.project,
        timeEstimation: +this.time
      })
      this.$router.push({ path: `/tasks/${res.data.ID}` })
    }
  }
}
</script>
