<template>
  <div class="column is-one-third">
    <div class="card" v-on:click="loadProject">
      <header class="card-header">
        <h1 class="card-header-title">{{ project.name }}</h1>
        <figure class="card-header-icon image is-64x64">
          <img class="is-rounded" :src="project.iconUrl">
        </figure>
      </header>
      <div class="card-content content">
        <md :src="project.description"></md>
        <div class="tags">
          <p class="tag">{{ (project.tasks || []).length }} tasks available</p>
          <div class="tags has-addons" v-if="project.successRate">
            <span class="tag">Success</span>
            <span class="tag is-primary">{{ project.successRate }}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Md from './Md'

export default {
  components: {
    md: Md
  },
  props: ['project'],
  methods: {
    loadProject: function() {
      this.$router.push({ path: `/projects/${this.project.ID}` })
    }
  }
}
</script>
