<template>
  <div class="section">
    <h1 class="title">Create an account</h1>

    <article class="message is-danger" v-if="emailError">
      <div class="message-body">
        An account with the same email already exists. Maybe you want to
        <router-link :to="{ path: '/login' }">login</router-link>?
      </div>
    </article>

    <div class="field">
      <label class="label">E-mail</label>
      <div class="control">
        <input class="input" type="email" v-model="email">
      </div>
    </div>

    <article class="message is-danger" v-if="nameError">
      <div class="message-body">
        Usernames cannot contain spaces.
      </div>
    </article>
    <div class="field">
      <label class="label">User name</label>
      <div class="control">
        <input class="input" type="text" v-model="name">
      </div>
    </div>

    <article class="message is-danger" v-if="passError">
      <div class="message-body">
        Your passwords are not the same.
      </div>
    </article>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" v-model="password">
      </div>
    </div>

    <div class="field">
      <label class="label">Password confirmation</label>
      <div class="control">
        <input class="input" type="password" v-model="passwordConfirmation">
      </div>
    </div>

    <button class="button is-primary is-fullwidth" v-on:click="register">Register</button>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      email: '',
      name: '',
      password: '',
      passwordConfirmation: '',
      emailError: false,
      passError: false,
      nameError: false,
    }
  },
  methods: {
    register: async function() {
      this.passError = this.passwordConfirmation.length > 0 && this.password !== this.passwordConfirmation
      this.nameError = this.name.replace(' ', '').replace('\t', '') != this.name
      if (this.passError || this.nameError) {
        return
      }
      const res = await this.axios.post('/api/v1/users', {
        email: this.email,
        userName: this.name,
        password: this.password,
      })
      if (res.code === 400) {
        this.emailError = true
      } else {
        this.$router.push({ path: '/login' })
      }
    }
  }
}
</script>
