<template>
	<span :class="[ 'tag', color ]" :title="desc">{{ text }}</span>
</template>

<script>
export default {
	props: ['status'],
	computed: {
		color: function() {
			switch (this.status) {
        case 'inProgress': return ''
        case 'toReview': return 'is-warning'
        case 'reviewed': return 'is-info'
        case 'handled': return 'is-success'
        case 'closed': return 'is-danger'
      }
		},
		text: function() {
			switch (this.status) {
        case 'inProgress': return 'Currently recording…'
        case 'toReview': return 'To review'
        case 'reviewed': return 'Reviewed'
        case 'handled': return 'Handled'
        case 'closed': return 'Closed'
      }
		},
		desc: function() {
			switch (this.status) {
        case 'inProgress': return 'This test session is in progress, come back in a few minutes to watch it.'
        case 'toReview': return 'A maintainer has to review this test session to extract relevant informations out of it.'
        case 'reviewed': return 'A maintainer reviewed this test session and knows what to do to improve this project.'
        case 'handled': return 'All the issues that were found during the test session are now resolved! Hooray!'
        case 'closed': return 'This test session was closed before it was finished.'
      }
		}
	}
}
</script>
