<template>
  <div>
    <header class="hero">
      <div class="hero-body">
        <h1 class="title">{{ task.title }}</h1>
        <p class="has-text-grey">Estimated time: {{ duration(task.timeEstimation, 'minutes').humanize() }}</p>
        <md :src="task.description"/>

        <router-link :to="{ path: `/tasks/${this.task.ID}/edit` }" v-if="isOwner">
          Edit
        </router-link>
      </div>
      <hr/>
    </header>
    <div v-if="loggedIn">
      <div class="section" v-if="!started">
        Before you start, remember to:
        <ul class="section">
          <li>Give us access to your screen and microphone (only for the duration of the test)</li>
          <li>You are not the one being tested. Don't worry if you are not able to do what was asked</li>
          <li>Comment everything you do, or try to do, and explain how you understand the application you are testing</li>
          <li>Don't close this tab before you are done, or all your work will be lost!</li>
          <li>Say hello!</li>
        </ul>
        <button class="button is-primary is-fullwidth" v-on:click="start">Start</button>
      </div>
      <div class="section" v-else>
        <video ref="preview" autoplay></video>
        <div class="buttons">
          <button class="button is-primary is-fullwidth" v-on:click="done">Done</button>
          <button class="button is-danger is-fullwidth" v-on:click="cancel">Cancel</button>
        </div>
      </div>
    </div>
    <div class="section" v-if="showSessions">
      <h1 class="title">
        Previous testing sessions
      </h1>
      <table class="table is-hoverable is-fullwidth">
        <tbody>
          <tr v-for="session in sessions" v-on:click="openTest(session.ID)">
            <td>
              {{ moment(session.CreatedAt).calendar() }}
            </td>
            <td>
              <status :status="session.status"/>
            </td>
            <td>
              {{ (userInfo.find(u => u.ID == session.user) || { displayName: 'Loading…' }).displayName }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      No sessions have been recorded yet!
    </div>
  </div>
</template>

<style lang="scss">
ul {
  list-style: disc !important;
}

tr {
  cursor: pointer;
}
</style>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import Md from './Md'
import Status from './Status.vue'

export default {
  components: {
    md: Md,
    status: Status,
  },
  data: () => {
    return {
      started: false,
      session: null,
      pc: null,
      sessions: [],
      userInfo: [],
      showSessions: false,
      task: null,
      owners: [],
    }
  },
  mounted: async function() {
    const id = this.$route.params.id
    this.task = (await this.axios.get(`/api/v1/tasks/${id}`)).data
    this.owners = (await this.axios.get(`/api/v1/projects/${this.task.projectID}`)).data.owners
    this.sessions = (await this.axios.get(`/api/v1/tasks/${id}/tests`)).data
      .sort((a, b) => this.statusToInt(a) - this.statusToInt(b))
    this.showSessions = this.sessions.length > 0

    this.userInfo = (await Promise.all(this.sessions
      .map(s => s.user)
      .filter((v, i, a) => a.indexOf(v) === i)
      .map(u => this.axios.get(`/api/v1/users/${u}`))
    )).map(u => u.data)
  },
  methods: {
    moment: moment,
    duration: moment.duration,
    statusToInt: function(sess) {
      switch (sess.status) {
        case 'inProgress': return 1
        case 'toReview': return 2
        case 'reviewed': return 3
        case 'handled': return 4
        case 'closed': return 5
      }
    },
    openTest: function(id) {
      this.$router.push({ path: `/tests/${id}` })
    },
    start: async function() {
      const res = await this.axios.post('/api/v1/tests', {
        user: +this.$store.getters.user.ID,
        task: +this.$route.params.id,
        status: 'inProgress',
      })
      this.session = res.data

      const stream = await navigator.mediaDevices.getDisplayMedia({
        video: {
          cursor: 'always',
          displaySurface: 'monitor'
        }
      })
      stream.getTracks()[0].enabled = false
      const audio = await navigator.mediaDevices.getUserMedia({
        audio: {
          echoCancellation: true,
          noiseSuppression: true,
        }
      })
      stream.getTracks()[0].enabled = true
      const pc = new RTCPeerConnection({
        iceServers: [
          {
            urls: 'stun:stun.l.google.com:19302'
          }
        ]
      })

      this.started = true
      this.pc = pc
      this.audio = audio

      this.$nextTick(() => {
        this.$refs.preview.srcObject = stream
      })

      pc.addStream(stream)
      pc.addStream(audio)

      pc.oniceconnectionstatechange = e => console.log(pc.iceConnectionState)
      pc.onicecandidate = event => {
        if (event.candidate === null) {
          this.axios.post(`/api/v1/tests/${this.session.ID}/stream`, {
            description: btoa(JSON.stringify(pc.localDescription))
          }).then(res => {
            pc.setRemoteDescription(new RTCSessionDescription(JSON.parse(atob(res.data.description))))
          })
        }
      }

      pc.onnegotiationneeded = e =>
        pc.createOffer().then(d => pc.setLocalDescription(d)).catch(console.log)
    },
    done: async function() {
      this.stop()

      await this.axios.put(`/api/v1/tests/${this.session.ID}`, {
        status: 'toReview',
      })

      this.$router.push({ path: `/tests/${this.session.ID}` })
    },
    cancel: async function() {
      this.stop()
    },
    stop: function() {
      for (const track of this.$refs.preview.srcObject.getTracks()) {
        track.stop()
      }
      for (const track of this.audio.getTracks()) {
        track.stop()
      }
      this.$refs.preview.srcObject = null
      this.started = false
      this.pc.close()
    }
  },
  computed: {
    ...mapGetters([ 'loggedIn', 'user' ]),
    isOwner: function() {
      return this.owners.find(o => o.ID == this.user.ID) != null
    }
  },
}
</script>
