<template>
  <div class="container section">
    <div class="hero is-medium">
      <div class="hero-body">
        <div class="container home-hero">
          <figure class="image is-128x128">
            <img class="is-rounded avatar" :src="user.avatarUrl">
          </figure>
          <h1 class="title">
            {{ user.displayName }}
            <span class="has-text-grey">@{{ user.userName }}</span>
          </h1>
          <md :src="user.bio"></md>
        </div>
      </div>
    </div>
    <hr/>
    <div>
      <section class="section" v-if="projects && projects.length > 0">
        <h1 class="title">
            Projects
        </h1>

        <div class="columns is-multiline">
          <project v-for="project in projects" :project="project"/>
        </div>
      </section>

      <section class="section" v-if="tested && tested.length > 0">
        <h1 class="title">Tested projects</h1>
        <div class="columns is-multiline">
          <project v-for="project in tested" :project="project"/>
        </div>
      </section>
    </div>
  </div>
</template>

<style>
.card {
  cursor: pointer;
}
</style>

<script>
import ProjectCard from './ProjectCard.vue'
import { mapGetters } from 'vuex'
import Md from './Md.vue'

export default {
  components: {
    project: ProjectCard,
    md: Md,
  },
  data: function() {
    return {
      projects: null,
      tested: null,
      user: null,
    }
  },
  mounted: async function() {
    const username = this.$route.params.username
    this.user = (await this.axios.get(`/api/v1/users/${username}`)).data
    const projs = (await this.axios.get(`/api/v1/users/${this.user.ID}/projects`)).data
    this.projects = projs.ownerOf
    this.tested = projs.contributedTo
  },
}
</script>
